@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$primary: #919098;
$secondary: #ffd4d0;
$light: #e9edf3;
$text-color: #333;

$vertical-space: 0.5rem;
